.pomo-bar {
  height: 3rem;
  // height: 5vh;
  background-color: black;
  display: flex;
  justify-content: center;

  .title {
    color: #5c32e6;
    font-size: xx-large;
    font-family: "Noto Sans JP", sans-serif;
    min-width: 100px;
    margin: 0 auto 0 0;
  }

  .pomo-container {
    display: flex;
    justify-content: flex-end;
  }

  .btn-counter {
    display: flex;
    height: 3rem;

    .timer-container {
      display: flex;
      align-items: center;
      color: white;

      h2 {
        padding: 1rem;
        padding-right: 0;
      }

      .timer {
        padding: 1rem;
      }
    }
  }
}

@import "variables";

.pomo-button {
  height: 100%;
  width: 60px;
  padding: 0 0 3px 0;
  margin-right: 3px;

  background: #5c32e6;
  color: white;

  border: none;
  border-width: 10px;
  border-radius: 5px;
  border-color: black;

  cursor: pointer;
  font-size: x-large;

  font-family: "Play", sans-serif;
}

.modal {
  background: rgba($black, 0.75);
  // bottom: 0;
  height: 100%;
  width: 270px;
  // left: 50px;
  overflow: auto;
  position: fixed;
  border-radius: 2%;
  // right: 0;
  top: 3rem;
  // width: 100%;
  z-index: 1;

  .modal-content {
    display: flex;
    width: 270px;
    justify-content: center;
    align-items: center;
    -webkit-animation: slideIn 0.3s ease-out;
    animation: slideIn 0.3s ease-out;
    background: change-color($black, $lightness: 100%);
    border-radius: 5px;
    color: change-color($black, $lightness: 20%);
    font-size: 0.9rem;
    margin: 10% auto;
    max-width: 500px;

    @media all and (min-width: 400px) {
      font-size: inherit;
    }
    .modal-header {
      border-bottom: 1px solid change-color($black, $lightness: 80%);
      padding: 10px;
      text-align: left;
    }

    .modal-body {
      width: 100%;
      padding: 5px;

      .form-group {
        // display: -webkit-box;
        // display: -ms-flexbox;
        display: flex;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        justify-content: center;
        align-items: center;
      }

      // margin-bottom: 10px;
      label {
        font-size: 0.7rem;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      .pomo-input[type="text"] {
        background: transparent;
        border-bottom: 1px solid change-color($black, $lightness: 20%);
        margin-left: 5px;
        max-width: 15px;
      }
      .button-group {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-top: 10px;
        .modal-button,
        .modal-button:hover,
        .modal-button:active,
        .modal-button:focus {
          background: change-color($black, $lightness: 25%);
          color: $blue;
          // margin-left: 8px;
          padding: 8px 10px;
          &:hover {
            background: change-color($black, $lightness: 20%);
          }
        }
      }
    }
  }
}
